/* COLORS */
$primarycolor : rgb(26, 26, 45);
$white: rgb(242, 242, 242);
$grey: rgb(156, 156, 156);
$orange: rgb(244, 110, 85);
$orange-dark: rgb(53, 38, 43);
$highlight: rgb(28, 33, 42);
$form: rgb(43, 48, 56);
